<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="url" value="https://iopapi.znl-stg01.com/" />
    <add key="cacheControl" value="cache-control" />
    <add key="cache" value="no-cache" />
    <add key="brandToken" value="x-auth-brandtoken" />
    <add key="tokenValue" value="Ym91cm5lLWFjcmVsZWMtYmstc3RnOnBhc3N3b3Jk=" />
    <add key="accept" value="Accept" />
    <add key="acceptValue" value="application/json" />
    <add key="cacheControl" value="cache-control" />
    <add key="contentType" value="Content-Type" />
    <add key="contentTypeValue" value="application/x-www-form-urlencoded" />
  </appSettings>
</configuration>
