<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="url" value="https://iopapi.znl-stg01.com/" />
    <add key="path" value="C:\Acrelec\AcrBridgeService\AcrelecImporter\Store_Level_Product.xml" />
    <add key="cacheValue" value="no-cache" />
    <add key="tokenValue" value="Ym91cm5lLWFjcmVsZWMtYmstc3RnOnBhc3N3b3Jk=" />
    <add key="acceptValue" value="application/json" />
    <add key="contentTypeValue" value="application/x-www-form-urlencoded" />
    <add key="siteId" value="44" />
    <add key="salesAreaId" value="418" />
    <add key="menuId" value="2130" />
    <add key="platform" value="kiosk" />
    <add key="tableName" value="[dbo].[XMLPayloadData]" />
    <add key="connectionString" value="Data Source=DESKTOP-JGJG8M9\SQLEXPRESS;Initial Catalog=AKD_BourneLeisure_v0.01;Integrated Security=True" />
  </appSettings>
</configuration>
